<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Twitter monitor</title>

	<!-- Bootstrap CSS -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

<style>
text {
  font: bold 18px monospace;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.exit {
  fill: brown;
}
</style>


<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Twitter Monitor</a>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="well">
                    <form class="well" id="chat" action="/signup" method="post">
                        <label>Twitter filter</label>
                        <input type="text" name="email"></input>
  						<input type="submit" name="Search" value="Search" class="btn"></input>
                    </form>
                <div class="well">
                	<form action="/signup" method="post">
                   <input type="submit" name="Rest" value="rest" class="btn"></input>
                   	</form>
                </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="well">
                        <div id="twitter-stream" class="vticker">
                            <ul class="unstyled"></ul>
                        </div>
                </div>
            </div>
        </div>    
    </div>
    
     <div class="container-fluid">
		<div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Related word cloud
                        </div>
                        <div class="panel-body">
                        	<div id="wordcloud"></div>	
                        </div>
                        <div class="panel-footer">
                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            The Hottest user 
                        </div>
                        <div class="panel-body">
                        	<div id="userlist"></div>	
                        </div>
                        <div class="panel-footer">
                            
                        </div>
                    </div>
                </div>
        </div>        
    </div>


<script src="./static/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="./static/jquery.easing.min.js"></script>
<script type="text/javascript" src="./static/jquery.easy-ticker.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="./static/d3.layout.cloud.js"></script>
<script>
$(document).ready(function(){

	var dd = $('.vticker').easyTicker({
		direction: 'up',
		easing: 'easeInOutBack',
		speed: 'slow',
		interval: 2000,
		height: 'auto',
		visible: 10,
		mousePause: 0,
		controls: {
			up: '.up',
			down: '.down',
			toggle: '.toggle',
			stopText: 'Stop !!!'
		}
	}).data('easyTicker');

});    

function updatetext(){
d3.json("/log", function(data) {

var ul = $('ul');

$.each(data,function(i,obj) {
    $('<li>',{text:obj.text}).appendTo(ul);
});
});
}
updatetext();

setInterval(updatetext, 15000);

//User update list

var width =  600,
    height = 300;

var svg1 = d3.select("#userlist").append("svg")
    .attr("width", width)
    .attr("height", height)
  	.append("g")
    .attr("transform", "translate(32," + 20 + ")");

function update(data) {

  // DATA JOIN
  // Join new data with old elements, if any.
  var text = svg1.selectAll("text")
      .data(data, function(d) { return d; });

  // UPDATE
  // Update old elements as needed.
  text.attr("class", "update")
    .transition()
    .ease("linear")
      .duration(750)
      .attr("y", function(d, i) { return i * 20; });

  // ENTER
  // Create new elements as needed.
  text.enter().append("text")
      .attr("class", "enter")
      .attr("dx", ".35em")
      .attr("x", 0)
      .attr("y", function(d, i) { return i * 20; })
      .style("fill-opacity", 1e-6)
      .text(function(d) { return d; })
    .transition()
      .duration(750)
      .ease("linear")
      .attr("x", 0)
      .style("fill-opacity", 1);

  // EXIT
  // Remove old elements as needed.
  text.exit()
      .attr("class", "exit")
    .transition()
      .duration(750)
      .ease("linear")
      .attr("x", 0)
      .style("fill-opacity", 1e-6)
      .remove();
}

// The initial display.
//update(alphabet);

// Grab a random sample of letters from the alphabet, in alphabetical order.
data();
setInterval(data, 4000);

function data(){
d3.json("/user", function(data) {

    data.sort(function(a, b) {
        return b.user.followers_count - a.user.followers_count;
    });

   var tags = [];

    data.forEach(function(d) {
        tags.push([d.user.name ]);
    });

    tags = tags.slice(0, 15);
  // Parse numbers, and sort by value.
  update(tags);
});
}


//word cloud
function render_wordcloud(){
//Read Json file
d3.json("/log", function(data) {
    //if (error) return console.warn(error);
    //filter
    var texts = data.map(function(d) {
        return {
            text: d.text
        };
    })

    var textString = "";
    texts.forEach(function(d) {
        textString += d.text + "";
    });

    var textArray = textString.split(" ");

    var textObjects = [];

    textArray.forEach(function(d) {
        if (!isNumeric(d) && !matches(d, "AND", "OF", "TO", "", "&", "ON", "-", "THE", "IN", "BE", "FOR", "A",'and','the','to','a','of','for','as','i','with','it','is','on','that','this','can','in','be','has','if','→','di','de','at','he','I','and')) {
            var textObject = {}
            textObject.text = d;
            textObjects.push(textObject);
        }
    });

    var wordCount = d3.nest()
        .key(function(d) {
            return d.text;
        })
        .rollup(function(v) {
            return v.length;
        })
        .entries(textObjects);

    wordCount.sort(function(a, b) {
        return b.values - a.values;
    });

    var tags = [];
    var i = 40;
    wordCount.forEach(function(d) {
    	i = i - 3;
        tags.push([d.key, i ]);
    });

    tags = tags.slice(0, 10);

    console.log(tags);

    var fill = d3.scale.category20();

    d3.layout.cloud().size([400, 300])
        .stop()
        .words(tags.map(function(d) {
            return {
                text: d[0],
                size: d[1]*2
            };
        }))
        .rotate(function() {
            return ~~/*(Math.random() * 2)  *9*/0;
        })
        .font("Impact")
        .fontSize(function(d) {
            return d.size;
        })
        .on("end", draw)
        .start();  
        
    function draw(words) {
        d3.select("#wordcloud").selectAll("svg").selectAll("g")
                .transition()
                //.duration(500)
                .style("opacity", 1e-6)
                .remove();

        d3.select("#wordcloud").selectAll("svg")
            .append("g")
            .attr("transform", "translate(200,150)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) {
                return d.size + "px";
            })
            .style("font-family", "Impact")
            .style("fill", function(d, i) {
                return fill(i);
            })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .transition()
            .duration(1000)
            .style("opacity", 1)
            .text(function(d) {
                return d.text;
            });
    }

});
};

function isNumeric(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
}

function matches(eVal, argList) {
    for (var i = 1; i < arguments.length; i++)
        if (arguments[i] == eVal)
            return true;
}

d3.select("#wordcloud").append("svg")
            .attr("width",  400)
            .attr("height", 300)

render_wordcloud();
var interval = setInterval(function(){render_wordcloud()}, 4000);

</script>
</body>    
<html>